In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
mv = pd.read_csv('homeprices.csv')
mv

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:

na_bedroom = mv.bedrooms.median()
na_bedroom

4.0

In [9]:
mv.bedrooms = mv.bedrooms.fillna(na_bedroom)
mv

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
regmv = linear_model.LinearRegression()
regmv.fit(mv[['area', 'bedrooms', 'age']], mv.price)

LinearRegression()

In [12]:
regmv.predict([[3000, 3, 40]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])

In [13]:
regmv.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [14]:
regmv.intercept_

221323.00186540396

**formula**

In [15]:
112.06244194*3000+23388.88007794*3 + -3231.71790863*40 + 221323.00186540396

498408.251574024